

.width-container {max-width:1000px !important}
.width-container.narrow {max-width:580px !important}
.width-container.wide {max-width:1200px !important}
.width-container.none {max-width: unset !important}

.container{
    max-width: 1340px;
    margin: auto;
    width: 90%;


}

section.articles{
    // margin-top: 2em;
    overflow: hidden;

    .container{
        margin: auto;
        padding-bottom: 2rem;
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;

            @media only screen and (min-width: 992px) {
                align-items: center;


            }
        }
    }
    .grid{
        display: grid;
    }

    h2{
        width: 100%;
        text-align: left;
        @media only screen and (min-width: 992px) {
            text-align: center;
            width: auto;

        }
    }
}

article.content{
    &>.wp-block-contact-form-7-contact-form-selector{
        display: none;
    }
}

.wp-block-table{
    overflow-x: auto;
    table{
        td,th{
            padding: 4px;
        }
    }
}

.content>.wp-block-embed{
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
    margin-bottom: 1rem;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

.content>.wp-block-group{
    box-shadow: var(--bs-medium);
    padding: 3rem 1.5rem;
    margin: 2rem 0px;
    position: relative;
    width: 100vw;
    left: 0;
    right: 0;
    // margin-left: -8%;
    padding-right: 7.5%;
    padding-left: 7.5%;
    background-color: #FBFBFB;
    @media only screen and (min-width: 768px) {
        padding: 2rem 3rem;
        width: 100%;
        left: unset;
        border-radius: 20px;


    }
    @media only screen and (min-width: 768px) {
        margin: 4rem 0px;

    }
    @media only screen and (min-width: 1300px) {
        margin: 5rem 0px;

    }
    h2{
        padding: 0px;
        margin-bottom: 1rem;
        &::after{
            left: 0px;
        }
        text-align: left;
        @media only screen and (min-width: 768px) {
            // text-align: center;
            width: auto;

        }
    }

    &>.wp-block-group__inner-container{
        h2,p{
            margin-bottom: 1rem;


        }
    }

    .wp-block-group{
        box-shadow: none;
        padding: 0;
        margin: 0;
    }

    .wp-block-columns{
        padding-top: 2rem;
        padding-bottom: 0rem;

    }

    @media only screen and (min-width: 768px) {
        padding: 3rem 4rem;

    }
}

.wp-block-columns{
    display: grid;
    grid-auto-flow: row;
    padding: 1.5rem 0px;
    width: 100%;
    grid-gap: 1rem;
    padding-top: 0px;
    @media only screen and (min-width: 768px) {

        // grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6rem;
        align-items: flex-start;
        padding: 2.5rem 0px;

    }
    .content &{
        @media only screen and (min-width: 768px) {
            padding-top: 2rem;


        }
    }
    .wp-block-column{
        display: grid;
        grid-auto-flow: row;
        grid-gap: 1rem;
        align-items: center;
        opacity: 1;
        @media only screen and (min-width: 768px) {
            grid-gap: 2rem;

        }
        h2,h3,h4,h5{
            margin-bottom: 1rem;
            @media only screen and (min-width: 992px) {
                max-width: 90%;
            }
            a{
                display: flex;
                margin-left: 1rem;
            }
        }
        p{
            margin-bottom: 0.25rem;
            @media only screen and (min-width: 768px) {
                margin-bottom: 0.25rem;

            }

        }
        .wp-block-group{
            padding: 0px;
            box-shadow: none;
            margin: 0px;
            opacity: 0;

        }

    }
}

.wp-block-media-text{
    display: grid;
    position: relative;
    grid-auto-flow: row;
    margin: 3rem 0px;
    grid-gap: 1rem;
    @media only screen and (min-width: 568px) {
        margin: 5rem 0px;

    }
    @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        margin: 5rem 0px;
        grid-gap: 4rem;
        align-items: center;
    }
    @media only screen and (min-width: 1300px) {
        margin: 8rem 0px;
    }
    figure{
        max-width: 100%;
        // position: absolute;
        // z-index: -1;
        // filter: opacity(0.25);
        // left: 50%;
        // bottom: 10%;
        @media only screen and (min-width: 768px) {
            align-items: center;
            position: relative;
            // left: 0px;
            filter: none;

        }
        img{
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 20px;

        }
    }
    h2{
        margin-bottom: 1rem;
    }
    h3{
        // left: 0 !important;
        &::before{
            display: none;
        }
    }
    h3, p, h4{
        margin-bottom: 1rem;
    }
}

.wp-block-cover{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem 0px;
    min-height: 25vh;

    position: relative;
    // left: 50%;
    // right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    body.single &{
        margin-left: -0vw;
        margin-right: -0vw;
        left: unset;
        right: unset;
        margin-bottom: 1rem;
        @media only screen and (min-width: 992px) {
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            margin-bottom: 3rem;

        }
    }

    &.has-background-dim{

    }
    &.is-repeated{
        background-repeat: repeat;
    }
    .wp-block-cover__inner-container{

    }
    @media only screen and (min-width: 768px) {
        min-height: 50vh;
        border-radius: 4px;
        @supports (background-attachment: fixed) {
            &.has-parallax{
                background-attachment: fixed;

            }
        }
    }

    @media only screen and (min-width: 1600px) {
        min-height: 50vh;

    }
}

.wp-block-gallery{
    width: 100%;
    overflow: hidden;
    margin: 2rem 0px;
    @media only screen and (min-width: 768px) {
        margin: 3rem 0px;
    }
    ul.blocks-gallery-grid{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        @media only screen and (min-width: 992px) {
            // grid-template-columns: 120px 1fr;
            // grid-template-columns: 1fr 1fr;
            grid-template-columns: repeat( auto-fill, minmax(600px, 1fr) );
            grid-column-gap: 2rem;

        }

    }
    li{
        display: flex;
        &::before{
            display: none !important;
        }
    }
    figure{
        width: 100%;
        // overflow: hidden;
        // display: block;
        img{

            object-fit: contain;
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}

.wp-block-image{
    width: 100%;
    position: relative;
    margin: 2rem 0px;

    @media only screen and (min-width: 768px) {
        margin: 3rem 0px;
    }

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        min-height: 380px;

        // @media only screen and (min-width: 400px) {
        //     object-fit: contain;
        // }

    }
    figcaption{
        border-radius: 10px;
        position: relative;
        background-color: var(--clr-blue-dark);
        // backdrop-filter: opacity(0.9);
        color: white;
        padding: 1.5rem 2rem;
        margin-top: 0.5rem;
        strong{
            display: block;
            font-weight: 600;
            margin-bottom: 0.25rem;
        }
        a{
            display: block;
            color: white;
        }
        @media only screen and (min-width: 768px) {
            position: absolute;
            width: 400px;
            z-index: 1;
            bottom: 2rem;
            right: 1rem;
            width: 420px;
            background-color: var(--clr-blue-dark);
            color: white;
            padding: 1.5rem 2rem;

        }
    }
}

.wp-block-quote{
    margin: 1rem 0px;
    display: grid;

    padding-left: 1rem;
    @media only screen and (min-width: 768px) {
        grid-auto-flow: row !important;
        grid-template-columns: auto 1fr;
    }

    p{
        // flex-shrink: 0;
        width: 100%;
    }
    cite{
        display: block;
        width: 100%;
        // text-align: center;
        font-weight: 600;
        margin-top: 0.5rem;
        @media only screen and (min-width: 768px) {
            grid-column: 2/3;

        }
    }
    @media only screen and (min-width: 768px) {
        margin: 1rem 0px;
    }
}


